
URxvt.perl-ext-common: default,matcher

! urxvt*foreground: white
! urxvt*background: black

! *color0:  #2E3436
! *color1:  #a40000
! *color2:  #4E9A06
! *color3:  #C4A000
! *color4:  #3465A4
! *color5:  #75507B
! *color6:  #ce5c00
! *color7:  #babdb9
! *color8:  #555753
! *color9:  #EF2929
! *color10: #8AE234
! *color11: #FCE94F
! *color12: #729FCF
! *color13: #AD7FA8
! *color14: #fcaf3e
! *color15: #EEEEEC

urxvt*foreground:   #c2c2c2
urxvt*background:   #202124

!black
urxvt*color0: #202124
urxvt*color8: #474747

!red
urxvt*color1: #d33b30
urxvt*color9: #d33b30

!green
urxvt*color2 : #28994f
urxvt*color10: #28994f

!yellow
urxvt*color3:  #eda912
urxvt*color11: #dd860e

!blue
urxvt*color4: #2581df
urxvt*color12: #2581df

!magenta
urxvt*color5: #f538a0
urxvt*color13: #9c166b

!cyan
urxvt*color6: #24c1e0
urxvt*color14: #018773

!white
urxvt*color7: #c2c2c2
urxvt*color15: #c2c2c2

URxvt*font: xft:Inconsolata:pixelsize=20
URxvt*letterSpace: -1

URxvt.scrollstyle: plain
URxvt.scrollBar: false

URxvt*secondaryWheel: true
URxvt*secondaryScreen: true

URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

URxvt.urlLauncher: sensible-browser
URxvt.matcher.button: 1

URxvt.loginShell:           true
URxvt.saveLines:            10000
URxvt.internalBorder:       16

! Rofi config.
rofi.levenshtein-sort: true
rofi.font: Roboto 12

Xft.dpi: 108
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
