[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh_zprezto"]
	path = zsh/zprezto
	url = https://github.com/sorin-ionescu/prezto
[submodule "emacs"]
	path = emacs
	url = https://github.com/syl20bnr/spacemacs.git
