.DS_Store

# xmonad
xmonad/.xmonad/*.jpg
xmonad/.xmonad/xmonad*
!xmonad/.xmonad/xmonad.hs
xmonad/.xmonad/conky_utilities/tomorrow_badge.py

*.pyc
*.o
*.hi

vim/.vim/bundle/
.netrwhist

# Emacs
# Emacs generates a bunch of files in .emacs.d directory which do not need
# to be tracked. Instead of blacklisting all of them, whitelist selected
# config files.
emacs.wip/.emacs.d/*
!emacs.wip/.emacs.d/*.el
!emacs.wip/.emacs.d/config.org
!emacs.wip/.emacs.d/lisp
!emacs.wip/.emacs.d/lisp/*.el
!emacs.wip/.emacs.d/third_party
!emacs.wip/.emacs.d/third_party/*
emacs.wip/.emacs.d/srecode-map.el
