.DS_Store

# xmonad
xmonad/.xmonad/*.jpg
xmonad/.xmonad/xmonad*
!xmonad/.xmonad/xmonad.hs
xmonad/.xmonad/conky_utilities/tomorrow_badge.py

*.pyc
*.o
*.hi

# vim
vim/.vim/*
!vim/.vim/vimrc

# Emacs
# Emacs generates a bunch of files in .emacs.d directory which do not need
# to be tracked. Instead of blacklisting all of them, whitelist selected
# config files.
emacs/.emacs.d/*
!emacs/.emacs.d/init.el
!emacs/.emacs.d/config.el
!emacs/.emacs.d/config.org
!emacs/.emacs.d/lisp
!emacs/.emacs.d/lisp/*.el
!emacs/.emacs.d/third_party
!emacs/.emacs.d/third_party/*
*.elc

# Fonts cruft
fonts/.fonts/google-drive/*
