.DS_Store
.uuid

# xmonad
xmonad/.xmonad/*
!xmonad/.xmonad/xmonad.hs
!xmonad/.xmonad/*.sh
!xmonad/.xmonad/*.yaml
!xmonad/.xmonad/*.org
!xmonad/.xmonad/xmonad
!xmonad/.xmonad/xmonad-contrib

*.pyc
*.o
*.hi

# vim
vim/.vim/*
!vim/.vim/vimrc

# Emacs
# Emacs generates a bunch of files in .emacs.d directory which do not need
# to be tracked. Instead of blacklisting all of them, whitelist selected
# config files.
emacs/.emacs.d/*
!emacs/.emacs.d/init.el
!emacs/.emacs.d/config
!emacs/.emacs.d/config/*.el
emacs/.emacs.d/config/config-machine.el
!emacs/.emacs.d/lisp
!emacs/.emacs.d/lisp/*.el
*.elc
*.eln

# Fonts cruft
fonts/.fonts/google-drive/*
